<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="world" default="buoyant_pool"/>
  <arg name="ign_args" default=""/>

  <include file="$(find ros_ign_gazebo)/launch/ign_gazebo.launch">
    <arg name="ign_args" value="-r -v 3 $(find hydrus_simulator)/worlds/$(arg world).sdf"/>
  </include>

  <!-- SDF from file, package model -->
  <node
    pkg="ros_ign_gazebo"
    type="create"
    name="$(anon ros_ign_create_box)"
    output="screen"
    args="-world $(arg world) -file $(find hydrus_simulator)/models/cube.sdf -name cube -allow_renaming true">
  </node>
</launch>
